@font-face {
    font-family: "fontRegular";
    font-display: swap;
    src: url(../fonts/PoppinsRegular.ttf);
}

[data-pc-preset="preset-1"] {
    --pc-sidebar-active-color: #00a988;
    --bs-blue: #00a988;
    --bs-primary: #00a988;
    --bs-primary-rgb: 0, 169, 136;
    --bs-primary-light: #e2fff9;
    --bs-link-color: #00a988;
    --bs-link-color-rgb: 0, 169, 136;
    --bs-link-hover-color: #017c64;
    --bs-link-hover-color-rgb: to-rgb(shift-color($pc-primary, $link-shade-percentage));
    --dt-row-selected: 0, 169, 136;
    --bs-body-font-family: "fontRegular";
}

.pc-sidebar {
    .pc-link {
        text-transform: capitalize;
    }
    .pc-micon {
        margin-right: 8px;
        i {
            font-size: 16px;
        }
    }
    .pc-arrow {
        i {
            font-size: 12px;
        }
    }
    .card.pc-user-card .pc-user-links {
        gap: 8px;

        i {
            font-size: 20px;
        }
    }
    .b-brand {
        padding: 4px;
        img {
            height: 40px;
            width: 100%;
            object-fit: contain;
        }
    }
}

.dataTableTable {
    .image {
        width: 100px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 8px;
    }
}
