.pc-container{
    background: #edfff469;
}
.pc-header{
    background: #fff;
    box-shadow: var(--pc-sidebar-shadow);
}
.pc-header .pc-h-item .btn-lang{
    position: relative;
    display: block;
    font-size: 29px;
    padding: 6px 15px 0px;
    color: #a3a4a6;
}
.page-header{
    margin-top: 30px;
}
.form-label{
    font-family: var(--font-2);
}
.Contracts-cards,.Contracts-units{
    padding: 40px 0px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.Contracts-cards .filters-card,
.Contracts-units .filters-card{
    margin-bottom: 20px;
}
.Contracts-cards .filters-card .form-search,
.Contracts-units .filters-card .form-search{
    display: block;
}
.Contracts-cards .filters-card .form-search input,
.Contracts-units .filters-card .form-search input{
    border: 1px solid #ddd;
    max-width: 100%;
    padding: 12px 39px;
}
.mobile-contract-card{
    display: none;
}
.Contracts-cards .Contracts-card{
    padding: 20px 15px;
    border: 1px solid #eee;
    box-shadow: 0 5px 10px rgba(27, 46, 94, 0.12);
}
.Contracts-cards .Contracts-card:hover{
    padding: 20px 15px;
    border: 2px solid #62ba87;
    box-shadow: 0 5px 10px rgba(27, 46, 94, 0.12);
}
.Contracts-cards .Contracts-card .Contracts-icon,
.mobile-contract-card .Contracts-icon{
    width: 50px;
    height: 50px;
    background: #e5f6f3;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 8px 15px 0;
    font-size: 24px;
}
.Contracts-cards .Contracts-card .Contracts-icon i,
.mobile-contract-card .Contracts-icon i{
    color: #38955f;
    padding: 2px 12px;
    line-height: 46px;
}
.Contracts-cards .Contracts-card .Contracts-info h4,
.mobile-contract-card .Contracts-info h4{
    font-size: 18px;
    color: #464646;
}
.mobile-contract-card .Contracts-info span{margin-top: 10px;}
.mobile-contract-card .Contracts-info,
.mobile-contract-card .Contracts-date{
    margin-top: 20px;
    padding: 0 20px;
}
.Contracts-cards .Contracts-card .Contracts-info h5{
    color: #444444;
    font-weight: 500;
    padding-top: 18px;
}
.mobile-contract-card .Contracts-info h5 {
    color: #444444;
    font-weight: 600;
    padding-top: 10px;
}
.Contracts-cards .Contracts-card .Contracts-info h4 .paid,
.Contracts-cards .Contracts-card .Contracts-info h4 .confirmd,
.mobile-contract-card .Contracts-info h4 .paid,
.mobile-contract-card .Contracts-info h4 .confirmd{
    font-size: 12px;
    background: #1fb31c;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    margin-right: 15px;
}

.Contracts-cards .Contracts-card .Contracts-info h4 .notpaid,
.Contracts-cards .Contracts-card .Contracts-info h4 .notconfirmd,
.mobile-contract-card .Contracts-info h4 .notpaid,
.mobile-contract-card .Contracts-info h4 .notconfirmd{
    font-size: 12px;
    background: #f80303;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    margin-right: 15px;
}
.Contracts-cards .Contracts-card .Contracts-date{
    margin-right: 50px;
}
.Contracts-cards .Contracts-card .Contracts-date h5{
    color: #746d6d;
    font-weight: 600;
    font-size: 17px;
}
.mobile-contract-card .Contracts-date h5 i,
.mobile-contract-card .Contracts-date h6 i{
    float: right;
    padding-left: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #666;
}
.Contracts-cards .Contracts-card .Contracts-date h6,
.mobile-contract-card .Contracts-date h6 {
    color: #746d6d;
    font-weight: 600;
    font-size: 17px;
    padding-top: 15px;
}
.Contracts-cards .Contracts-card .Contracts-btns h6,
.mobile-contract-card .Contracts-btns a {
    width: 36px;
    height: 33px;
    color: #fff;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 5px;
    margin-right: 15px;
}
.mobile-contract-card .Contracts-btns{margin-bottom: 20px;margin-top: 10px;}
.mobile-contract-card .Contracts-btns a {
    padding: 11px 65px;
}
.mobile-contract-card .Contracts-btns a i{
    font-size: 20px;
    line-height: 30px;
}
.Contracts-cards .Contracts-card .Contracts-btns h6 a,
.Contracts-cards .Contracts-card .Contracts-btns h6 a:hover,
.mobile-contract-card .Contracts-btns a,
.mobile-contract-card .Contracts-btns a:hover{
    color: #fff;
}
.Contracts-cards .Contracts-card .Contracts-btns h6:first-child,
.mobile-contract-card .Contracts-btns a:first-child{
    background: #005aff;
}
.Contracts-cards .Contracts-card .Contracts-btns h6:last-child,
.mobile-contract-card .Contracts-btns a:last-child{
    background: #f80303;
}
.Contracts-cards .add-contracts{
    margin-right: 100px;
}
.Contracts-units .add-contracts {
    display: flex;
    justify-content: flex-end;
}
.Contracts-cards .add-contracts h5,
.Contracts-units .add-contracts h5{
    width: 160px;
    text-align: center;
    line-height: 23px;
    height: 40px;
    color: #62ba87;
    font-size: 13px;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 15px;
    background: #e6f6fe;
}
.Contracts-cards .add-contracts h5 a,
.Contracts-units .add-contracts h5 a{
    color: #62ba87;
}
.nav-pills .nav-link span{
    font-weight: 500;
    font-size: 15px;
}
.nav-pills .nav-link i{
    vertical-align: middle;
    padding-left: 4px;
}
/* .nav-link:hover, .nav-link:focus{
    color:#38955f;
} */
#basicwizard .contract-price{
    color: #000000;
    font-weight: 600;
}
#basicwizard .tab-pane .add,
#basicwizard .tab-pane .delete{
    position: absolute;
    left: 9%;
    right: auto;
    top: 40px;
    color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    display: block;
    line-height: 40px;
}
#basicwizard .tab-pane .add i,
#basicwizard .tab-pane .delete i{
    color: #fff;
    font-size: 20px;
    background: none;
    font-weight: 800;
    line-height: 20px;
    padding: 0px 8px;
}
#basicwizard .tab-pane .add{
    background: #00a5ff;
}
#basicwizard .tab-pane .delete{
    left: 4%;
    background: #f80303;
}
.Contracts-units .card-body{
    padding: 15px 25px;
}
.Contracts-units .card-body p{
    font-size: 16px;
    color: #000 !important;
}
.Contracts-units .card-body h5{
    color: #555;
}
.Contracts-units .product-card .btn-prod-card{
    width: 65px;
    margin: 0 10px;
    color: #017632;
}
#basicwizard .form-btns{
    position: relative;
    margin-bottom: 35px;
}
.Contracts-units .product-card .edit-icon a,
.visit-cards a.edit-icon{
    color: #005aff;
}
.Contracts-units .product-card .edit-icon:hover a,
.visit-cards a.edit-icon{
    background: #005aff;
    color: #fff;
}
.Contracts-units .product-card .delete-icon a,
.visit-cards a.delete-icon{
    color: #f80303;
}
.Contracts-units .product-card .delete-icon:hover a,
.Contracts-units .product-card .delete-icon:focus a,
.visit-cards a.delete-icon{
    background: #f80303;
    color: #fff;
}
.Contracts-units .product-card .card-img-top .img-prod{
    height: 200px;
    width: 100%;
}
#basicwizard .first-row{
    margin-bottom: 45px;
}
#basicwizard .address-input-group{
    position: relative;
    display: block;
}
#map {
    height: 250px;
    width: 100%;
    margin-top: 2px;
    border-radius: 12px;
    position: relative;
  }
  .address-input {
    position: absolute;
    top: 40%;
    right: 34px;
    left: auto;
    z-index: 5;
    display: block;
    width: 436px;
  }
  .address-input input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  #upload-master-image .uppy-DragDrop--isDragDropSupported{
    height: 300px !important;
  }
  .uppy-DragDrop--isDragDropSupported {
    border: 1px solid #eee;
    height: 150px !important;
}
.uploaded-files h5{
    font-weight: 400;
    font-size: 15px;
}
.breakline{
    border: 2px solid rgb(122, 122, 122);
    width: 80%;
    margin:30px auto;
}
.form-check label {
    cursor: pointer;
    color: #121212;
}
#car .custom-switch-v1.form-switch{
    margin-top: 28px;
}
/* view-unit-page */
.view-unit-class{
    background: #fff;
    padding: 20px 15px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(27, 46, 94, 0.12);
    margin-bottom: 30px;
}
.unit-detail{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.unit-detail .unit-icon{
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #cbf8de;
    color: #62ba87;
    border-radius: 50px;
    text-align: center;
    font-size: 26px;
}
.unit-detail div h6,
.unit-adults div h6{
    font-size: 13px;
}
.unit-detail div h5,
.unit-adults div h5{
    color: #838383;
}
.unit-info{
    display: block;
    padding: 20px 15px 0;
}
.unit-info p{
    font-size: 15px;
    color: #6e6e6e;
    font-family: var(--font-2);
    line-height: 1.8;
}
.unit-images .all-images{
    display: flex;
    justify-content: space-between;
}
.unit-images .all-images div{
    width: calc(100% / 4);
    padding: 10px;
}
.unit-images .all-images img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
}
.unit-adults{
    display: flex;
        margin-bottom: 25px;
        justify-content: space-between;
}
.unit-adults div {

    margin: 0 15px 0 50px;
}
.unit-card-table .nav-link{
    font-weight: 500;
    font-size: 16px;
}
.unit-card-table td{
    height: 45px;
}
.unit-card-table td:first-child{
    font-size: 15px;
    color: #505050 !important;
    font-weight: 600;

}
.edit-unit .address-input{
    position: absolute;
    top: 39%;
    right: 65px;
}
.view-unit-class .send-message,
.pc-content .send-message{
    background: #62ba87;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    border: none;
    width: 300px;
    height: 46px;
    border-radius: 8px;
    float: left;
}
.Confirmatiom{
    text-align: center;
}
.Confirmatiom .user-card p{
    font-size: 23px;
    margin: 15px;
}
.Confirmatiom .user-card i{
    font-size: 60px;
    color: #f00;
}
.Confirmatiom .user-card .confirm-btn-modal button,
.Confirmatiom .user-card .delete-btn-modal button{
    width: 100%;
    height: 45px;
    font-size: 17px;
    font-weight: 600;
}
.Confirmatiom .user-card .delete-btn-modal button{
    background: #fff;
    color: #62ba87;
    border: 2px solid #62ba87;
}
.Confirmatiom .user-card .confirm-btn-modal button:hover{
    background: #62ba87;
    color: #fff;
}
.page-header-title h2{
    font-size: 20px;
}
.page-header-title h1{
    font-size: 25px;
}
.page-header-title p{
    font-size: 19px;
    line-height: 1.9;
    color: #777;
}
.choose-type-box{
    width: 100%;
    height: 230px;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px #eee;
    padding: 35px 0;
    margin-top: 50px;
}
.choose-type-box .data h4{
    font-size: 20px;
    padding-top: 15px;
}
.choose-type-box .data p{
    font-size: 15px;
    line-height: 2.2;
    color: #777;
    font-weight: 500;
}
/* visits-page */
.visit-cards .sector-icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #e8f5ee;
    border-radius: 50px;
    padding: 0 11px;
    color: #62ba87;
    font-size: 18px;
}
.visit-cards a.view-icon{
    background: #62ba87;
    color: #fff;
}
.visit-cards .table > thead{
    background: #ebfff3;
}
.visit-cards .table > tbody > tr:hover{
    border: 1px solid #DBE0E5;
    box-shadow: 0 5px 10px #eee;
    background: #fff;
    border-radius: 8px;
}
.pc-content .btn-send{
    margin-bottom: 100px;
}
/* ------------------- reservation ------------- */
.reservation{
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0 5px 10px #eee;
    border-radius: 12px;
    padding: 15px 20px;
}
.reservation .form-search{
    width: 100%;
    height: 35px;
    line-height: 35px;
    display: flex;
}
.reservation .form-search .icon-search{
    top: 7px;
}
.reservation .same-card{
    background: #f5f8f7fc;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 20px 6px;
}
.reservation .same-card h6{
    font-size: 12px;
    margin-bottom: 20px;
    padding-right: 7px;
}
.reservation .same-card .new-reserve,
.same-card .new-reserve{
    width: 100%;
    background: #fff;
    height: 235px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.main-page .new-reserve{
    height: 140px;
}
.reservation .same-card .new-reserve .icon,
.same-card .new-reserve .icon{
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: #e8f5ee;
        border-radius: 50px;
        padding: 0 11px;
        color: #62ba87;
        font-size: 18px;
    }
.reservation .same-card .new-reserve .new-reverse-detail,
.same-card .new-reserve .new-reverse-detail{
    display: flex;
    align-items: center;
    padding: 15px 0;
}    
.reservation .same-card .new-reserve h5,
.same-card .new-reserve h5{
    font-size: 12px;
} 
.reservation .same-card .new-reserve h5 a,
.same-card .new-reserve h5 a{
    font-size: 12px;
    float: left;
}
.reservation .same-card .name-detail,
.same-card .name-detail{
    padding-right: 10px;
}
.reservation .same-card .new-reserve .name-detail h6,
.same-card .new-reserve .name-detail h6{
    font-size: 11px;
    font-weight: 600;
    color: #494949;
    margin-bottom: 7px;
    padding-right: 0;
}
.reservation .same-card .new-reserve .days,.same-card .new-reserve .days,
.reservation .same-card .new-reserve .cost,.same-card .new-reserve .cost{
    display: flex;
    justify-content: space-between;
}
.reservation .same-card .new-reserve .days i,.same-card .new-reserve .days i,
.reservation .same-card .new-reserve .cost i,.same-card .new-reserve .cost i{
    float: right;
    padding-left: 6px;
    font-size: 17px;
    color: #595959;
}
.reservation .same-card .new-reserve .days span,.same-card .new-reserve .days span
.reservation .same-card .new-reserve .cost span,.same-card .new-reserve .cost span{
    font-size: 13px;
    color: #787878;
}
.reservation .same-card .new-reserve .reverse-btns,
.reverse-detail .reverse-detail-card .reverse-btns{
    float: left;
}


.reservation .same-card .new-reserve .refuse-btn,
.reverse-detail .reverse-detail-card .reverse-btns .refuse-btn{
    border: 1px solid #f80303;
    padding: 8px 15px;
    border-radius: 5px;
    background: #f80303;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 8px;
    padding-top: 6px;
    color: #fff;
}
.reservation .same-card .new-reserve .accept-btn,
.reverse-detail .reverse-detail-card .reverse-btns .accept-btn{
    border: 1px solid #62ba87;
    padding: 8px 15px;
    border-radius: 5px;
    background: #62ba87;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 8px;
    padding-top: 6px;
    margin-left: 15px;
    color: #fff;
}
.reservation .same-card .current-reverse{
    height: 175px;
}
.reverse-detail .reverse-info{
    padding: 0 20px;
    display: flex;
}
.reverse-detail .reverse-detail-card{
    box-shadow: 0 4px 8px #eee;
    margin: 20px 5px 20px 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px 0;
}
.reverse-detail .reverse-detail-card p{
    padding-right: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #666;
    font-family: var(--font-1);
}
.reverse-detail .reverse-detail-card .detail-title{
    padding: 11px 20px;
    background: #e6f6fe;
    margin: 0 12px;
    border-radius: 10px;
    line-height: 17px;
    margin-bottom: 20px;
}
.reverse-detail .reverse-detail-card .detail-title h5{
    font-size: 15px;
    line-height: 15px;
}
.reverse-detail .reverse-detail-card .reverse-info span{
    background: #ffea00;
    font-size: 6px;
    padding: 2px 5px;
    border-radius: 50px;
    margin-left: 10px;
}
.reverse-detail .reverse-detail-card .reverse-btns{
    display: flex;
    justify-content: flex-end;
    float: none;
    margin-left: 20px;
}
.reverse-detail .reverse-detail-card .reverse-btns a{
    padding: 8px 45px !important;
}
.add-unit-reservation h5{
    margin-bottom: 30px;
}
.add-unit-reservation .send-message {
    background: #62ba87;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    border: none;
    width: 100%;
    margin-top: 28px;
    border-radius: 8px;
}
.wizard a.btn.disabled,.wizard  a.btn.disabled{
    background-color: #f5b802d1;
    border-color: #f5b802d1;
} 
.wizard a.btn-secondary {
    background-color: #ffd503;
    border-color: #ffd503;
}
.earning-card .nav.nav-pills .nav-link.active, 
.earning-card .nav.nav-pills .show > .nav-link {
    box-shadow: var(--pc-card-box-shadow);
    background: #2a6a45;
    color: #ffffff;
}
.unit-detail div{
    margin: 0 0 0 40px;
}
.same-card .name-detail span{
    font-size: 11px;
    padding-right: 10px;
    padding-left: 0;
}
#addressForm p{
    font-size: 13px;
    padding-top: 15px;
    color: #6a6a6a;
}
.tab-pane .maximum{
    font-size: 15px;
    font-weight: 600;
    color: #5d5c5c;
    line-height: 57px;
    margin-bottom: 15px;
}
.address-input-group .checkbox{
    width: 15px;
    height: 23px;
    line-height: 15px;
    vertical-align: middle;
    margin-left: 20px;
}
.checkbox-label{
    font-size: 16px;
    color: #565656;
    font-family: var(--font-1);
}
.radio-buttons-group-box{
    display: block;
    font-size: 15px;
    color: #555;
}
.radio-buttons-group-box input{
    margin: 0 10px;
}
.packages-box{
    padding: 40px 0;
}
.packages-box h1{
    font-size: 22px;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: var(--font-1);
    font-weight: 500;
    color: #2f3540;
    line-height: 41px;
    margin-bottom: 30px;
}
.packages-box .price-card{
    margin-top: 50px;
}
.packages-box .price-card .product-list li{
    padding: 4px 25px 4px 25px;
}
.packages-box .price-card .product-list li .ph-duotone{
    right: 0;
}
.price-card .price-head {
    padding-bottom: 8px;
    margin-bottom: 40px;
}
.packages-box .price-card .product-list{
    margin-bottom: 40px;
}
.packages-box .price-card.first .price-head i,
.packages-box  .price-card.first .price-head h5,
.packages-box .price-card.first .product-list li .ph-duotone{
   color: #cd7f32
}
.packages-box  .price-card.first .price-head{
background: #fff8f0;
}
.packages-box  .price-card.first button{
    background: #cd7f32;
}
.packages-box .price-card.second .price-head i,
.packages-box  .price-card.second .price-head h5,
.packages-box .price-card.second .product-list li .ph-duotone{
   color: #c0c0c0
}
.packages-box  .price-card.second .price-head{
    background: #f4f4f4;
}
.packages-box  .price-card.second button{
    background: #c0c0c0;
}
.packages-box .price-card.third .price-head i,
.packages-box  .price-card.third .price-head h5,
.packages-box .price-card.third .product-list li .ph-duotone{
   color: #ffd700
}
.packages-box  .price-card.third .price-head{
    background: #fff9d6;
}
.packages-box  .price-card.third button{
    background: #ffd700;
}
.packages-box  .price-card button{
    border: none;
}
/* ================================== ltr-direction ======================================== */
[data-pc-direction=ltr] .Contracts-cards .add-contracts{
    margin-left: 100px;
    margin-right: 0;
}
[data-pc-direction=ltr] .Contracts-cards .add-contracts h5, 
[data-pc-direction=ltr] .Contracts-units .add-contracts h5{
    margin-left: 50px;
    margin-right: 0;
}
[data-pc-direction=ltr] .Contracts-cards .Contracts-card .Contracts-info h4 .paid, 
[data-pc-direction=ltr] .Contracts-cards .Contracts-card .Contracts-info h4 .confirmd,
[data-pc-direction=ltr] .Contracts-cards .Contracts-card .Contracts-info h4 .notpaid,
[data-pc-direction=ltr] .Contracts-cards .Contracts-card .Contracts-info h4 .notconfirmd{
    margin-right: 0;
    margin-left: 15px;
}
[data-pc-direction=ltr] #basicwizard .tab-pane .add, 
[data-pc-direction=ltr] #basicwizard .tab-pane .delete{
    position: absolute;
    right: 9%;
    left: auto;
    top: 5px;
}
[data-pc-direction=ltr] #basicwizard .tab-pane .delete {
    right: 4%;
}
[data-pc-direction=ltr] .nav-pills .nav-link i{
    padding-right: 4px;
    padding-left: 0;
}
[data-pc-direction=ltr] .form-wizard .nav-pills .nav-link{
    gap: 5px;
}
[data-pc-direction=ltr] .address-input{
    left: 34px;
    right: auto;
}
[data-pc-direction=ltr] .unit-adults div{
    margin: 0 50px 0 15px;
}
[data-pc-direction=ltr] .unit-detail div{
    margin: 0 40px 0 0;
}
[data-pc-direction=ltr] .reservation .same-card h6{
    padding-left: 7px;
    padding-right: 0
}
[data-pc-direction=ltr] .reservation .same-card .new-reserve h5 a, 
[data-pc-direction=ltr] .same-card .new-reserve h5 a{
    float: right;
}
[data-pc-direction=ltr] .reservation .same-card .name-detail,
[data-pc-direction=ltr] .same-card .name-detail{
    padding-right: 0;
    padding-left: 10px;
}
[data-pc-direction=ltr] .same-card .name-detail span{
    font-size: 11px;
    padding-left: 10px;
    padding-right: 0;
}
[data-pc-direction=ltr] .reservation .same-card .new-reserve .days i, 
[data-pc-direction=ltr] .same-card .new-reserve .days i, 
[data-pc-direction=ltr] .reservation .same-card .new-reserve .cost i,
[data-pc-direction=ltr] .same-card .new-reserve .cost i{
    float: left;
    padding-right: 6px;
    padding-left: 0;
}
[data-pc-direction=ltr] .reverse-detail .reverse-detail-card{
    margin: 20px 5px;
}
[data-pc-direction=ltr] .reverse-detail .reverse-detail-card p{
    padding-right: 0px;
    padding-left: 15px;
}
[data-pc-direction=ltr] .reverse-detail .reverse-detail-card .reverse-btns{
    margin-right: 20px;
    margin-left: 0;
}
[data-pc-direction=ltr] .reservation .same-card .new-reserve .accept-btn,
[data-pc-direction=ltr] .reverse-detail .reverse-detail-card .reverse-btns .accept-btn{
    margin-right: 15px;
    margin-left: 0;
}
[data-pc-direction=ltr] .reverse-detail .reverse-detail-card .reverse-info span{
    margin-right: 10px;
    margin-left: 0;
}


/* =============================== responsive =================== */


@media (max-width: 1024px) and (min-width: 769px) {
}
@media (max-width: 768px) and (min-width: 426px) {
    
}
@media (max-width: 425px) and (min-width:321px) {
    .mobile-contract-card{
        display: block;
    }
    .Contracts-cards, .Contracts-units{
        padding: 10px 0;
    }
    .Contracts-cards .row:first-child, .Contracts-units .row:first-child{
        justify-content: normal !important;
    }
    .Contracts-cards .Contracts-card .Contracts-icon,
    .wizard .first,.wizard .last,.unit-detail .unit-icon,
    .Contracts-cards .Contracts-card{
        display: none;
    }
    .Contracts-cards .filters-card .form-select,
    .Contracts-units .filters-card .form-select{
        margin-bottom: 15px;
    }
    .Contracts-cards .add-contracts,.Contracts-units .add-contracts{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .wizard a.btn-secondary{
        margin-top: 0 !important;
    }
    .wizard h5{
        font-size: 15px;
        line-height: 1.8;
    }
    #basicwizard .tab-pane .add{
        left: 22%;
    }
    .Contracts-cards .add-contracts h5, .Contracts-units .add-contracts h5{
        margin-bottom: 0 !important;
        margin-top: 10px;
        width: 100%;
        margin-right: 0;
    }
    .view-unit-class .send-message, .pc-content .send-message,
    .unit-images .all-images div{
        width: 100%;
    }
    .unit-detail{
        display: inline-block;
        margin-top: 10px;
    }
    .view-unit-class h6{
        font-size: 20px;
    text-align: right;
    margin-bottom: 20px;
    }
    .unit-images .all-images,.unit-adults{display: block;}
    .edit-unit .address-input {
        width: 100%;
        position: absolute;
        top: 27.5%;
        right: 40px;
    }
    .address-input input{max-width: 290px;}
    #addressForm .address-input{
        top: 25.5%;
        right: 29px;
    }
    .Confirmatiom .user-card .confirm-btn-modal button,
    .Confirmatiom .user-card .delete-btn-modal button{
       margin-bottom: 15px;
   }
   .reservation .card-header{
    display: block !important;
   }
   .reservation .card-header{
    display: block !important;
}
.reservation .card-header h5{
    margin-bottom: 15px !important;
}
.reverse-detail .reverse-detail-card .detail-title{
    margin: 0 7px;
    border-radius: 7px;
    margin-bottom: 15px;
}
.reverse-detail .reverse-info{padding: 0 10px;}
    
}
@media (max-width :375px) and (min-width: 320px){
    .Contracts-cards, .Contracts-units{
        padding: 10px 0;
    }
    .Contracts-cards .row:first-child, .Contracts-units .row:first-child{
        justify-content: normal !important;
    } 
    .Contracts-cards .Contracts-card .Contracts-icon,.Contracts-cards .Contracts-card,
    .wizard .first,.wizard .last,.unit-detail .unit-icon{
        display: none;
    }
    .Contracts-cards .filters-card .form-select,
    .Contracts-units .filters-card .form-select{
         margin-bottom: 15px;
    }
    .Contracts-cards .add-contracts,.Contracts-units .add-contracts{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .wizard a.btn-secondary{
        margin-top: 0 !important;
    }
    .wizard h5{
        font-size: 15px;
        line-height: 1.8;
    }
    #basicwizard .tab-pane .add{
        left: 22%;
    }
    .Contracts-cards .add-contracts h5, .Contracts-units .add-contracts h5{
        margin-bottom: 0 !important;
        margin-top: 10px;
        width: 100%;
        margin-right: 0;
    }
    .view-unit-class .send-message, .pc-content .send-message,
    .unit-images .all-images div{
        width: 100%;
    }
    .unit-detail{
        display: inline-block;
        margin-top: 10px;
    }
    .view-unit-class h6{
        font-size: 20px;
    text-align: right;
    margin-bottom: 20px;
    }
    .unit-images .all-images,.unit-adults{display: block;}
    .edit-unit .address-input {
        width: 100%;
        position: absolute;
        top: 27.5%;
        right: 40px;
    }
    .address-input input{max-width: 290px;}
    #addressForm .address-input{
        top: 25.5%;
        right: 29px;
    }
    .Confirmatiom .user-card .confirm-btn-modal button,
     .Confirmatiom .user-card .delete-btn-modal button{
        margin-bottom: 15px;
    }
    .reservation .card-header{
        display: block !important;
    }
    .reservation .card-header h5{
        margin-bottom: 15px !important;
    }
    .reverse-detail .reverse-detail-card .detail-title{
        margin: 0 7px;
        border-radius: 7px;
        margin-bottom: 15px;
    }
    .reverse-detail .reverse-info{padding: 0 10px;}
}